<!-- TOP NAVBAR -->
<mat-toolbar color="primary" class="top-navbar">
  <span class="title">Employee Management</span>

  <span class="spacer"></span>

  <a mat-button routerLink="/home" routerLinkActive="active-link">
    <mat-icon>home</mat-icon>
    Home
  </a>

  <a mat-button routerLink="/search" routerLinkActive="active-link">
    <mat-icon>search</mat-icon>
    Search
  </a>

  <a mat-button routerLink="/employee" routerLinkActive="active-link">
    Employee
  </a>
</mat-toolbar>

<!-- PAGE CONTENT -->
<div class="content">
  <router-outlet></router-outlet>
</div>
